<div class="vehicles-view">
  <div class="header">
    <h2 class="title">Manage Vehicles</h2>

    <div class="button-wrapper">
      <button 
      [routerLink]="[user?.role === 'host' ? '/dashboard/host/add-vehicle' : '/dashboard/admin/add-vehicle']" 
      [queryParams]="{ companySlug: currentCompanySlug }"
      class="add-btn"
      >
      
        <i class="fas fa-plus"></i>
        <span class="btn-text">Add Vehicle</span>
      </button>
  
      <button class="add-btn" (click)="fileInput.click()">
        <i class="fas fa-plus"></i>
        <span class="btn-text">Add Vehicles in bulk</span>
      </button>
      
      <input 
        #fileInput 
        type="file" 
        accept=".csv" 
        style="display: none;" 
        (change)="onFileSelected($event)"
      >

      <a 
      href="/vehicle-template.xlsx" 
      download="vehicle-template.xlsx" 
      class="download-template-btn"
    >
      <i class="fas fa-download"></i>
      <span>Download Template</span>
    </a>

    </div>

  </div>

  @if (loading) {
    <div class="loading-state" aria-live="polite">
      <i class="fas fa-spinner fa-spin"></i>
      <span class="loading-text">Loading vehicles...</span>
    </div>
  
  }

  @if (error && !loading) {
    <div class="error-state" role="alert">
      <div class="error-message">{{ error }}</div>
      
      @if (user?.role === 'host') {
        <button class="retry-btn" (click)="loadCompanyVehicles()">
          <i class="fas fa-redo"></i>
          Retry
        </button>
      } @else {
        <button class="retry-btn" (click)="loadAllVehicles()">
          <i class="fas fa-redo"></i>
          Retry
        </button>
      }

    </div>
  
  }
  
  @if (!loading && !error) {
    <div class="vehicle-container">
      <div class="vehicle-grid">
          
          @for (vehicle of vehicles; track vehicle._id) {

            <div class="vehicle-card-wrapper">
              <app-product-card [vehicle]="vehicle" class="vehicle-card" />
          
              @if ( user?.role === 'admin' && vehicle.details.vehicleRegistration ) {

                <div class="registration-wrapper">
                  
                  @for (registration of vehicle.details.vehicleRegistration; track $index) {
                    <a target="_blank" [href]="vehicle.details.vehicleRegistration">Vehicle Registration</a>
                  }

                </div>

              }

              <div class="actions">
                @if (user?.role === 'host') {
                  <button 
                  (click)="editVehicle(vehicle._id)" 
                  class="edit-btn"
                  aria-label="Edit vehicle"
                >
                <i class="fa-solid fa-pen"></i>
                  <span class="action-text">Edit</span>
                </button>
                }
                
                <button 
                  (click)="deleteVehicle(vehicle._id)" 
                  class="delete-btn"
                  aria-label="Delete vehicle"
                >
                  <i class="fa-solid fa-trash-can"></i>
                  <span class="action-text">Delete</span>
                </button>
              </div> 

          </div>
          }

          @if (vehicles.length === 0) {
            <div class="empty-state" aria-live="polite">
              <i class="fas fa-car-side empty-icon"></i>
              <h3 class="empty-title">No Vehicles Found</h3>
              <p class="empty-message">Start by adding your first vehicle</p>
            </div>
          }

        </div>
      </div>
  }

  <app-paginator
    [currentPage]="currentPage"
    [pageSize]="pageSize"
    [totalCount]="totalCount"
    (pageChange)="onPageChange($event)"
  ></app-paginator>

    
  <div>
         
</div>
