@if (layoutType === 'default') {
  <div class="location-picker-wrapper">

    <div class="input-wrapper">
      <input
        type="text"
        [(ngModel)]="searchQuery"
        (input)="onSearch(searchQuery)"
        (focus)="onFocus()"
        (blur)="onBlur()"
        placeholder="Search for a location"
        class="location-input"
        #locationInput
      />
  
      <i class="fa-solid fa-location-dot location-icon"></i>
  
      @if (suggestions.length > 0) {
        <ul class="suggestions-list">
          @for (suggestion of suggestions; track $index) {
            <li
              class="suggestion-item"
            >
              {{ suggestion.display_name }}
            </li>
          }
        </ul>
      }
    </div>
      
  </div>
  
}

@else if (layoutType === 'simple') {
  <div class="simple-location-wrapper form-group">
    <div class="input-wrapper">
      <input
        class="simple-location-input"
        type="text"
        [(ngModel)]="searchQuery"
        (input)="onSearch(searchQuery)"
        (focus)="onFocus()"
        (blur)="onBlur()"
        placeholder="Search for a location"
        #locationInput
      />
      <i class="fa-solid fa-location-dot simple-location-icon"></i>
      <ul class="simple-suggestions-list">
        @if (suggestions.length > 0) {
          <ul class="suggestions-list">
            @for (suggestion of suggestions; track $index) {
              <li
                class="suggestion-item"
              >
                {{ suggestion.display_name }}
              </li>
            }
          </ul>
        }
      </ul>
    </div>
  </div>
  
  
}