<div [class]="layoutType==='default'?'location-picker-wrapper':'simple-location-wrapper form-group'">
  <div class="input-wrapper">
    <input
      #locationInput
      type="text"
      [(ngModel)]="searchQuery"
      (input)="onSearch(searchQuery)"
      placeholder="Search for a location"
      [class]="layoutType==='default'?'location-input':'simple-location-input'"
    />
    <i class="fa-solid fa-location-dot"
       [class]="layoutType==='default'?'location-icon':'simple-location-icon'"></i>

    @if (suggestions.length) {

    }

    <ul [class]="layoutType==='default'?'suggestions-list':'simple-suggestions-list'">
      @for (suggestion of suggestions; track $index) {
        <li
          (click)="selectSuggestion(suggestion)"
          class="suggestion-item">
          {{ suggestion.description }}
        </li>
      }
    </ul>
  </div>
</div>