<div class="vehicle-details-card">
  <h2>{{ vehicle?.name }} - {{ vehicle?.model }}</h2>
  <div class="vehicle-details">
    <img
      [src]="vehicle?.images?.[0] || 'fallback-image.jpg'"
      alt="{{ vehicle?.name }} image"
      class="vehicle-image"
    />

    <div class="vehicle-info">
      <div><strong>Company:</strong> {{ vehicle?.company?.name }}</div>
      <div><strong>Capacity:</strong> {{ vehicle?.capacity }} people</div>
      <div><strong>Size:</strong> {{ vehicle?.size }}</div>
      <div><strong>Category:</strong> {{ vehicle?.category }}</div>
      <div><strong>Price per day:</strong> ${{ vehicle?.pricePerDay }}</div>
      <div>
        <strong>Available:</strong> {{ vehicle?.available ? "Yes" : "No" }}
      </div>
      <div><strong>Created At:</strong> {{ vehicle?.created_at | date }}</div>
      <div><strong>Updated At:</strong> {{ vehicle?.updated_at | date }}</div>
    </div>

   
  </div>
</div>
