@use "intl-tel-input/build/css/intlTelInput" as *;
@use "flatpickr/dist/flatpickr.min" as *;
@use "leaflet/dist/leaflet" as *;
@use "ngx-toastr/toastr" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #FFFDFD;
}


