<div class="register-wrapper">
  <img role="presentation" loading="lazy" class="background-image" src="/images/excavator-background-desktop.jpg" alt="An image of an excavator"/>

  <div class="form-wrapper glass-card">

    <h2 class="header">Register</h2>

    <form class="register-form" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">

      <div class="form-group">

        <input
          [class]="fullName.touched ? (fullName.errors ? 'error' : 'success') : '' "

          class="form-input"
          type="text"
          id="fullName"
          name="fullName"
          ngModel
          required
          minlength="3"
          maxlength="100" 
          placeholder="John Doe"
          #fullName="ngModel"
          appFullname
        />
        
        <label class="form-label" for="fullName">Full Name</label>

        @if (fullName.touched && fullName.errors) {
          <ul class="errors">
            @if (fullName?.errors?.['required']) {
              <li class="error-msg">Full name is required!</li>
            }
            @if (fullName?.errors?.['minlength']) {
              <li class="error-msg">Full name must be at least 3 characters long!</li>
            }
            @if (fullName?.errors?.['maxlength']) {
              <li class="error-msg">Full name must shorter than 100 characters!</li>
            }
            @if (fullName?.errors?.['fullNameInvalid']) {
              <li class="error-msg">Full name must include first and last name with valid characters.</li>
            }
          </ul>
        }
      </div>

      <div class="form-group">
        <input
          [class]="email.touched ? (email.errors ? 'error' : 'success') : '' "
          class="form-input"
          type="text"
          id="email"
          name="email"
          required
          ngModel
          #email="ngModel"
          placeholder="johndoe@example.com"
          minlength="6"
          maxlength="254"
          appEmail
        />
        <label class="form-label" for="email">Email</label>

        @if (email.touched && email.errors) {
          <ul class="errors">
            @if (email?.errors?.['required']) {
              <li class="error-msg">Email is required!</li>
            }
            @if (email?.errors?.['minlength']) {
              <li class="error-msg">Email must be at least 6 characters long!</li>
            }
            @if (email?.errors?.['maxlength']) {
              <li class="error-msg">Email must shorter than 254 characters!</li>
            }
            @if (email?.errors?.['emailInvalid']) {
              <li class="error-msg">Invalid email. Make sure to use alphanumeric characters and &#64;</li>
            }
          </ul>
        }

      </div>

      <div class="form-group phone-group">

        <label class="form-label" for="phoneNumber">Phone Number (Optional) </label>

        <input 
        class="form-input phone-input"
        type="tel"
        id="phoneNumber"
        name="phoneNumber"
        #phoneInput
        ngModel
        placeholder=""
        >
        
      </div>

      <div class="form-group">

        <input
          [class]="password.touched ? (password.errors ? 'error' : 'success') : '' "
          class="form-input"
          type="password"
          id="password"
          name="password"
          ngModel
          required
          placeholder="Enter your password"
          minlength="8"
          maxlength="64"
          #password="ngModel"
          appPassword
        />

        <label class="form-label" for="password">Password</label>

        @if (password.touched && password.errors) {
          <ul class="errors">
            @if (password?.errors?.['required']) {
              <li class="error-msg">Password is required!</li>
            }
            @if (password?.errors?.['minlength']) {
              <li class="error-msg">Password must be at least 8 characters long!</li>
            }
            @if (password?.errors?.['maxlength']) {
              <li class="error-msg">Password must shorter than 254 characters!</li>
            }
            @if (password?.errors?.['passwordInvalid']) {
              <li class="error-msg">Invalid password. Make sure to use alphanumeric characters and ( _ &#64; ! )</li>
            }
          </ul>
        }

      </div>

      <div class="form-group">
        <input
          [class]="reppass.touched ? (reppass.errors ? 'error' : 'success') : '' "
          class="form-input"
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          ngModel
          required
          minlength="8"
          maxlength="64"
          #reppass="ngModel"
          placeholder="Confirm your password"
          appRepass
        />

        <label class="form-label" for="confirmPassword">Confirm Password</label>

        @if (reppass.touched && reppass.errors) {
          <ul class="errors">
            @if (reppass?.errors?.['required']) {
              <li class="error-msg">You must confirm your password!</li>
            }
            @if (reppass?.errors?.['repasswordValidator']) {
              <li class="error-msg">Passwords don't match!</li>
            }
          </ul>
        }

      </div>

      <button class="submit-button" type="submit" [disabled]="!userForm.valid">Register</button>
      
    </form>

    <div class="line-header-wrapper">
        
      <hr id="firstLine">
      
      <h4 class="social-header">Login with social accounts</h4>
      
      <hr id="secondLine">

    </div>
    
    <div class="social-icons">
      <i class="fa-brands fa-google"></i>
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-apple"></i>
    </div>
    
    <p routerLink="/auth/login" class="msg login-msg">Already have an account? <span>Log In</span></p>
  </div>

</div>
