@if (user?.role === 'admin' && showOnlyCertificates) { 
  <div class="admin-controls">
    <button class="add-cert-button" routerLink="/dashboard/admin/add-certificate">
      + Add Certificate
    </button>
  </div>
}

<div class="user-documents-wrapper">

  @if (!showOnlyCertificates) {
    <div class="section receipts-section">
    @if (receipts.length > 0) {
      <h2 class="section-header">Receipts</h2>
      <p class="section-description">Here you can find all of your receipts.</p>

      <ul class="receipts-list">
        @for (rent of rents; track $index) {
          @for (receipt of receipts; track $index) {
            <li class="receipt-item">

              <div class="receipt-details">
                <h4 class="receipt-title">{{ rent.vehicle.details.name }}</h4>
                <p>{{ rent.start | date }} - {{ rent.end | date }}</p>
              </div>

              <a class="receipt-link" [href]="receipt" target="_blank">Receipt {{ $index + 1 }}</a>
            </li>
          }
        }
      </ul>
    } @else {
      <div class="empty-section">
        <h2>No Receipts Available!</h2>
      </div>
    }
  </div>
  }

  @if (certificates.length > 0) {
    <div class="section certificates-section">
      <h2 class="section-header">Certificates</h2>
      <p class="section-description">Here you can find all the certificates you have been awarded.</p>

      <div class="certificates-wrapper">
        @for (certificate of certificates; track $index) {
          <app-certificate-card [certificate]="certificate" />
        }
      </div>
    </div>
  } @else {
    <div class="section empty-section">
      <h2>No Certificates Awarded!</h2>
    </div>
  }

</div>
