.certificates-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.add-cert-button {
  background: #110A08;
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  gap: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px;
}