<div class="company-card">
  <h3>{{ company?.name }}</h3>
  <p><strong>Email:</strong> {{ company?.email }}</p>
  <p><strong>Phone:</strong> {{ company?.phoneNumber }}</p>
  <p><strong>Location:</strong> {{ company?.location }}</p>
  <p><strong>Status:</strong> {{ company?.status }}</p>
  <p><strong>Is Promoted:</strong> {{ company?.isPromoted }}</p>
  <p><strong>Total Earnings:</strong> {{ (company?.totalEarnings ?? 0) | currencyConverter }}</p>
  <p><strong>Company Type:</strong> {{ company?.companyType }}</p>
  <p><strong>State Registration:</strong> {{ company?.stateRegistration }}</p>
  <p><strong>Company ID:</strong> {{ (company?._id ?? '') }}</p>

  @if (company?.status === 'pending') {
    <div class="action-buttons" >
      <button class="confirm-button" (click)="confirmCompany((company?._id ?? ''))">Confirm</button>
      <button class="reject-button" (click)="rejectCompany((company?._id ?? ''))">Reject</button>
    </div>
  } @else if (company?.status === 'canceled') {
    <div class="action-buttons" >
      <button class="confirm-button" (click)="confirmCompany((company?._id ?? ''))">Confirm</button>
    </div>
  } @else if (company?.status === 'confirmed') {
    <div class="action-buttons">
      <button class="hold-button" (click)="holdCompany((company?._id ?? ''))">Hold</button>
      <button class="ban-button" (click)="banCompany((company?._id ?? ''))">Ban</button>
      
      @if ( company?.isPromoted === true ) {
        <button class="ban-button" (click)="demoteCompany((company?._id ?? ''))">Demote</button>
      } @else {
        <button class="promote-button" (click)="promoteCompany((company?._id ?? ''))">Promote</button>
      }

    </div>
  } @else if (company?.status === 'hold') {
    <div class="action-buttons">
      <button class="ban-button" (click)="banCompany((company?._id ?? ''))">Ban</button>
      <button class="confirm-button" (click)="confirmCompany((company?._id ?? ''))">Unhold</button>
    </div>
  } @else if (company?.status === 'banned') {
    <div class="action-buttons">
      <button class="hold-button" (click)="holdCompany((company?._id ?? ''))">Hold</button>
      <button class="confirm-button" (click)="confirmCompany((company?._id ?? ''))">Unban</button>
    </div>
  }


  <a class="details-link" [routerLink]="['/company', (company?.slug ?? '')]">View Details</a>
</div> 