/* .sidebar {
  width: 260px;
  background: white;
  box-shadow: 2px 0 15px rgba(0, 0, 0, 0.03);
  transition: width 0.3s ease;
}

.sidebar.collapsed {
  width: 80px;
}

.close-sidebar-icon {
  position: relative;
  left: 200px;
}

.sidebar.collapsed .nav-text,
.sidebar.collapsed .company-select,
.sidebar.collapsed .btn-text {
  opacity: 0;
  pointer-events: none;
}

.sidebar-header {
  padding: 1.5rem;
  border-bottom: 1px solid #e9ecef;
}

.sidebar-header .toggle-btn {
  background: none;
  border: none;
  font-size: 1.2rem;
  color: #6c757d;
  cursor: pointer;
  padding: 0.5rem;
}

.sidebar-header .toggle-btn:hover {
  color: #4361ee;
}

.sidebar-header .company-select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #e9ecef;
  border-radius: 8px;
  margin-top: 1rem;
  font-size: 0.9rem;
  transition: opacity 0.3s ease;
}

.nav-list {
  list-style: none;
  padding: 1rem;
}

.nav-list li {
  padding: 0.8rem 1rem;
  border-radius: 8px;
  margin-bottom: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #6c757d;
  transition: all 0.2s ease;
}

.nav-list li:hover:not(.active) {
  background: rgba(67, 97, 238, 0.05);
  color: #4361ee;
}

.nav-list li.active {
  background: #4361ee;
  color: white;
}

.nav-list li i {
  width: 30px;
  font-size: 1.1rem;
} */

.dashboard-nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
  border-bottom: 1px solid #000000;
  height: 30px;
  width: min-content;
  margin-top: 2.5rem;
  margin-left: 35px;
}

.dashboard-nav-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.dashboard-nav-item:hover {
  cursor: pointer;
}

.dashboard-nav-item.active {
  border-bottom: 2px solid #000000;
  padding-bottom: 6px;
}

.nav-icon {
  font-size: 14px;
}

.nav-text {
  font-size: 16px;
}