<!-- <div class="sidebar-wrapper">
  <nav [class.collapsed]="isCollapsed" class="sidebar">
    <div class="sidebar-header">
      
      @if (isCollapsed) {
        <button (click)="toggleSidebar()" class="toggle-btn">
          <i class="fa-solid fa-chevron-left chevron-icon"></i>
        </button>
      } @else {
        <button (click)="toggleSidebar()" class="toggle-btn">
          <i class="fa-solid fa-chevron-right close-sidebar-icon chevron-icon" [class.rotate]="isCollapsed"></i>
        </button>
      }
  
      @if (companies.length > 1) {
      <select class="company-select" [(ngModel)]="selectedCompany" (change)="onCompanyChange()">
        @for (company of companies; track company._id) {
        <option [value]="company._id">{{ company.name }}</option>
        }
      </select>
      }
    </div>
    
    <ul class="nav-list">
      <li [routerLink]="[`/dashboard/${user?.role === 'host' ? 'host' : 'admin'}/home`]" [queryParams]="{ companyId: selectedCompany }" routerLinkActive="active">
        <i class="fas fa-home"></i>
        <span class="nav-text">Home</span>
      </li>
      <li [routerLink]="[`/dashboard/${user?.role === 'host' ? 'host' : 'admin'}/vehicles`]" [queryParams]="{ companyId: selectedCompany }" routerLinkActive="active">
        <i class="fas fa-car"></i>
        <span class="nav-text">Vehicles</span>
      </li>
      <li [routerLink]="[`/dashboard/${user?.role === 'host' ? 'host' : 'admin'}/rents`]" [queryParams]="{ companyId: selectedCompany }" routerLinkActive="active">
        <i class="fas fa-list"></i>
        <span class="nav-text">Rents</span>
      </li>
    </ul>
    
  </nav>
</div> -->

<div class="dashboard-nav-wrapper">
  <div class="dashboard-nav-item" [routerLink]="[`/dashboard/${user?.role === 'host' ? 'host' : 'admin'}/home`]" [queryParams]="{ companyId: selectedCompany }" routerLinkActive="active">
    <i class="fas fa-home nav-icon"></i>
    <span class="nav-text">Home</span>
  </div>
  <div class="dashboard-nav-item" [routerLink]="[`/dashboard/${user?.role === 'host' ? 'host' : 'admin'}/vehicles`]" [queryParams]="{ companyId: selectedCompany }" routerLinkActive="active">
    <i class="fas fa-car nav-icon"></i>
    <span class="nav-text">Vehicles</span>
  </div>
  <div class="dashboard-nav-item" [routerLink]="[`/dashboard/${user?.role === 'host' ? 'host' : 'admin'}/rents`]" [queryParams]="{ companyId: selectedCompany }" routerLinkActive="active">
    <i class="fa-solid fa-calendar-days"></i>
    <span class="nav-text">Rents</span>
  </div>
  <div class="dashboard-nav-item" [routerLink]="[`/dashboard/${user?.role === 'host' ? 'host' : 'admin'}/transactions`]" [queryParams]="{ companyId: selectedCompany }" routerLinkActive="active">
    <i class="fa-solid fa-dollar-sign"></i>
    <span class="nav-text">Transactions</span>
  </div>
  <div class="dashboard-nav-item" [routerLink]="[`/dashboard/${user?.role === 'host' ? 'host' : 'admin'}/users`]" [queryParams]="{ companyId: selectedCompany }" routerLinkActive="active">
    <i class="fas fa-user nav-icon"></i>
    <span class="nav-text">Users</span>
  </div>
  
  @if (user?.role === 'admin') {
    <div class="dashboard-nav-item" [routerLink]="[`/dashboard/admin/companies`]" [queryParams]="{ companyId: selectedCompany }" routerLinkActive="active">
      <i class="fa-solid fa-building"></i>
      <span class="nav-text">Companies</span>
    </div>
  }
  
</div>