<div class="sidebar-wrapper">

  <h2 class="filter-heading">Filters</h2>
  
    <hr class="section-break">
    
    <div class="datepicker-wrapper">

      <h5 class="category-heading">Time period:</h5>

      <app-datepicker 
      [startDateInput]="startDateFilter"
      [endDateInput]="endDateFilter"
      (startDateChange)="onStartDateChange($event)" 
      (endDateChange)="onEndDateChange($event)"
      [functionality]="['search', null]" 
      layoutType="column" 
      #datepicker
      />
    </div>

    <hr class="section-break">

    <div class="category-filter-wrapper">

        <h5 class="category-heading">Category of {{ mainCategory }}</h5>

        <div class="checkbox-wrapper">
          @if (mainCategory === "vehicles") {
            @for (category of categories; track $index) {
              <div class="category-checkbox-wrapper">
                <input 
                  type="checkbox" 
                  [id]="category.name" 
                  [checked]="activeCategories.includes(category.name)"
                  (change)="toggleCategory(category.name)"
                  class="category-checkbox"
                >
                <label class="checkbox-label" [for]="category.name">{{ category.name | uppercase }}</label>
              </div>
            }
          } @else {
            <!-- TODO: Change loop to filter machinery categories -->
          }
        </div>
      </div>

    <hr class="section-break">

    <div class="price-filter-wrapper">
      <div class="heading-wrapper">
        <h5 class="category-heading">Price:</h5>
    
        <!-- <select id="priceFilterType" [(ngModel)]="priceFilterMode" class="filter-select">
          <option value="manual">Manual</option>
          <option value="slider">Slider (Library)</option>
        </select> -->
    
      </div>
      
    <!-- @if (priceFilterMode === 'manual') {
      <div class="manual-price-filter">
        <input type="number" class="min-input" [(ngModel)]="minPrice" [min]="priceMin" [max]="maxPrice" placeholder="min" (change)="onMinRangeChange()">
        <span class="separator">&gt;</span>
        <input type="number" class="max-input" [(ngModel)]="maxPrice" [min]="minPrice" [max]="priceMax" placeholder="max" (change)="onMaxRangeChange()">
      </div>
    } @else if (priceFilterMode === 'slider' && isBrowser()) { -->
      <div class="ngx-price-filter">
        @if (isBrowserFlag && showSlider) {
          <div class="custom-slider">
          <ngx-slider
            [(value)]="logMinPrice"
            [(highValue)]="logMaxPrice"
            [options]="priceSliderOptions"
            (userChangeEnd)="onPriceChange()"
          ></ngx-slider>
        </div>
       }
      </div>
    <!-- } -->
    
    </div>

    <hr class="section-break bigger-margin">

    <div class="availability-filter-wrapper">
      <label>
        <input
          type="checkbox"
          [checked]="showOnlyAvailable"
          (change)="toggleShowOnlyAvailable()"
        />
        Show only available vehicles
      </label>
    </div>
    
    <hr class="section-break">

</div>