<div class="login-wrapper">
  <img role="presentation" loading="lazy" class="background-image" src="/images/excavator-background-desktop.avif" alt="Excavator background"/>

  <div class="form-wrapper glass-card">
    
    <h2 class="header">Log In</h2>

    <form class="login-form" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">

      <div class="form-group">
        <input
          [class]="email.touched ? (email.errors ? 'error' : 'success') : '' "
          class="form-input"
          type="text"
          id="email"
          name="email"
          required
          ngModel
          #email="ngModel"
          placeholder="johndoe@example.com"
          minlength="6"
          maxlength="254"
          appEmail
        />
        <label class="form-label" for="email">Email</label>

        @if (email.touched && email.errors) {
          <ul class="errors">
            @if (email?.errors?.['required']) {
              <li class="error-msg">Email is required!</li>
            }
            @if (email?.errors?.['minlength']) {
              <li class="error-msg">Email must be at least 6 characters long!</li>
            }
            @if (email?.errors?.['maxlength']) {
              <li class="error-msg">Email must shorter than 254 characters!</li>
            }
            @if (email?.errors?.['emailInvalid']) {
              <li class="error-msg">Invalid email format</li>
            }
          </ul>
        }
      </div>

      <div class="form-group">
        <input
          [class]="password.touched ? (password.errors ? 'error' : 'success') : '' "
          class="form-input"
          type="password"
          id="password"
          name="password"
          ngModel
          required
          placeholder="Enter your password"
          minlength="8"
          maxlength="64"
          #password="ngModel"
          appPassword
        />
        <label class="form-label" for="password">Password</label>

        @if (password.touched && password.errors) {
          <ul class="errors">
            @if (password?.errors?.['required']) {
              <li class="error-msg">Password is required!</li>
            }
            @if (password?.errors?.['minlength']) {
              <li class="error-msg">Password must be at least 8 characters long!</li>
            }
            @if (password?.errors?.['maxlength']) {
              <li class="error-msg">Password must shorter than 64 characters!</li>
            }
            @if (password?.errors?.['passwordInvalid']) {
              <li class="error-msg">Invalid password format</li>
            }
          </ul>
        }
      </div>

      <button class="submit-button" type="submit" [disabled]="!userForm.valid">Log In</button>
    </form>

    <div class="line-header-wrapper">
      <hr>
      <h4 class="social-header">Login with social accounts</h4>
      <hr>
    </div>


    <div class="social-icons">
      <div class="google-button-container" #googleButtonContainer></div>
      <!-- <i class="fa-brands fa-facebook"></i> -->
      <!-- <i class="fa-brands fa-apple"></i> -->
    </div>
    
    <p routerLink="/auth/register" class="msg login-msg">Don't have an account? <span>Register</span></p>
  </div>
</div>