<div class="login-wrapper">

  <div class="form-wrapper">
    <h1 class="header">Log In</h1>
    <form class="login-form" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
      
        <div class="form-group">
          <input class="form-input" type="text" id="username" name="username" #username="ngModel" ngModel required placeholder=" ">
          <label class="form-label" for="username">Username</label>
        </div>
  
        <div class="form-group">
          <input class="form-input" type="password" id="password" name="password" ngModel required placeholder=" ">
          <label class="form-label" for="password">Password</label>
        </div>

        <p class="msg register-msg" routerLink="/register" >Don't have an account yet?</p>

      <button  class="submit-button" type="submit" [disabled]="!userForm.valid">Log In</button>
    </form>
  </div>

  <div class="sign-up-wrapper">
    <h1 class="header">Welcome to login</h1>
    <p routerLink="/register" class="msg">Don't have an account?</p>
    <button routerLink="/register" class="register-button">Register</button>
  </div>

  <img class="background-image" src="/images/dark-red-gradient.jpg" alt="An image of a dark red gradient">
</div>