<section class="partner-registration">
  <div class="container">
    <div class="intro-section">
      <h2>Become a host for BURG</h2>
      <p class="intro-text">
        Expand your business reach and maximize your equipment's potential.
        Become a host to access thousands of construction professionals
        looking to rent quality machinery. Enjoy competitive earnings, secure
        transactions, and full control over your listings.
      </p>
    </div>

    <div class="form-section">
      <form #companyForm="ngForm" (ngSubmit)="onSubmitCompany(companyForm)">
        <div class="form-group">
          <label for="companyName">Company Name</label>
          <input
            [class]="companyName.touched ? (companyName.errors ? 'error' : 'success') : '' "
            type="text"
            id="companyName"
            name="companyName"
            placeholder="John Doe's Company" 
            #companyName="ngModel"
            ngModel
            required
          />

          @if (companyName.touched && companyForm.controls['companyName'].invalid) {
            <div class="error-msg">
              Company name is required.
            </div>
          }

        </div>
        <div class="form-group">
          <label for="companyEmail">Email</label>
          <input
            [class]="companyEmail.touched ? (companyEmail.errors ? 'error' : 'success') : '' "
            type="email"
            id="companyEmail"
            name="companyEmail" 
            placeholder="johndoecompany@example.com"
            #companyEmail="ngModel"
            ngModel
            required
            appEmail
          />

          @if (companyEmail.touched && companyForm.controls['companyEmail'].errors?.['required']) {
            <div class="error-msg">
              Email is required.
            </div>
          } @if (companyEmail?.errors?.['emailInvalid']) {
              <div class="error-msg">
                Invalid email format
              </div>
          }
          
        </div>
        <div class="form-group phone-group">

          <label for="phoneNumber">Phone Number</label>
  
          <input 
            [class]="phoneModel.touched ? (phoneModel.errors ? 'form-input phone-input error' : 'form-input phone-input success') : '' "
            type="tel"
            id="phoneNumber"
            name="companyPhone"
            #phoneModel="ngModel"
            ngModel
            placeholder=""
            required
            #phoneInput
            pattern="^\+[1-9]\d{7,14}$"
          >

          @if (phoneModel.touched && companyForm.controls['companyPhone'].errors?.['required']) {
            <div class="error-msg">
              Phone number is required.
            </div>
          } @else if (phoneModel.touched && companyForm.controls['companyPhone'].errors?.['pattern']) {
            <div class="error-msg">
              Phone number must be in international format (e.g., +1234567890).
            </div>
          }

        </div>

        <div class="form-group">
          <label for="companyLocation">Location</label>
          <app-location-picker layoutType="simple" (locationSelected)="onLocationSelected($event)"/>

        </div>

        <div class="form-group">
          <label for="stateRegistration">State Registration</label>
          <input
            [class]="stateRegistration.touched ? (stateRegistration.errors ? 'error' : 'success') : '' "
            type="text"
            id="stateRegistration"
            name="stateRegistration" 
            #stateRegistration="ngModel"
            ngModel
            required
            placeholder="Enter your official state registration"
          />
          
          @if (stateRegistration.touched && companyForm.controls['stateRegistration'].invalid) {
            <div class="error-msg">
              State registration is required.
            </div>
          }

        </div>

        <div class="form-group">
          <label for="companyType">Company Type</label>

          <select 
            #companyType="ngModel" 
            id="companyType" 
            name="companyType" 
            ngModel 
            required
            [class]="companyType.touched ? (companyType.errors ? 'error' : 'success') : '' "  
            >

            <option value="" disabled selected>Select a company type</option>
            <option value="Private Limited Company (PLC)">Private Limited Company (PLC)</option>
            <option value="Public Limited Company (Ltd.)">Public Limited Company (Ltd.)</option>
            <option value="One Person Company (OPC)">One Person Company (OPC)</option>
            <option value="Limited Liability Partnership (LLP)">Limited Liability Partnership (LLP)</option>
            <option value="Partnership Firm">Partnership Firm</option>
            <option value="Sole Proprietorship">Sole Proprietorship</option>
            <option value="Section 8 Company (Non-Profit Organization - NGO)">Section 8 Company (Non-Profit Organization - NGO)</option>
            <option value="Producer Company">Producer Company</option>
            <option value="Nidhi Company">Nidhi Company</option>
            <option value="Indian Subsidiary of a Foreign Company">Indian Subsidiary of a Foreign Company</option>
            <option value="Small Company (as per Companies Act, 2013)">Small Company (as per Companies Act, 2013)</option>
            <option value="Startup Registration (under DPIIT recognition)">Startup Registration (under DPIIT recognition)</option>
            <option value="Micro, Small, and Medium Enterprises (MSME) Registration">Micro, Small, and Medium Enterprises (MSME) Registration</option>
            <option value="Trust Registration">Trust Registration</option>
            <option value="Society Registration">Society Registration</option>
            <option value="Cooperative Society">Cooperative Society</option>
            <option value="Broker">Broker</option>
          </select>

          @if (companyType.touched && companyType.invalid) {
            <div class="error-msg">
              Please select a company type.
            </div>
          }
          
        </div>

        <div class="form-group">
          
          <label for="registrationImage"
            >Registration Image (at least 1 required)</label
          >

          <input
            type="file"
            id="registrationImage"
            name="registrationImage"
            accept="image/*"
            multiple
            (change)="onRegistrationImageSelected($event)"
            #registrationImage
            required
            ngModel="registrationModel"
            [class.error]="registrationImageError"
          />

          @if (registrationImageError) {
          <div class="error-msg">Please upload at least 1 registration image.</div>
          }

        </div>

        <div class="button-container">
          <button type="submit" [disabled]="companyForm.invalid">
            Submit Company Application
          </button>
        </div>
      </form>
    </div>

    <div class="partner-benefits">
      <h3>Why Should You Become A Host?</h3>
      <div class="benefits-grid">
        <div class="benefit-card">
          <i class="fas fa-chart-line"></i>
          <h4>Increased Earnings</h4>
          <p>
            Access our large network of construction professionals and maximize
            your equipment utilization
          </p>
        </div>
        <div class="benefit-card">
          <i class="fas fa-shield-alt"></i>
          <h4>Full Protection</h4>
          <p>
            Comprehensive insurance and secure payment processing for every
            transaction
          </p>
        </div>
        <div class="benefit-card">
          <i class="fas fa-tools"></i>
          <h4>Management Tools</h4>
          <p>Real-time analytics, scheduling tools, and maintenance tracking</p>
        </div>
      </div>
    </div>
  </div>
</section>
