/* .products-section {
  padding: 4rem 2rem;
  background: #f8f9fa;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  max-width: 1200px;
  margin: 0 auto 3rem auto;
}

.section-header h2 {
  font-size: 2rem;
  color: #2D2D2D;
  margin-bottom: 10px;
} */

.horizontal-break {
  width: 35%;
  margin: 0 auto 1rem auto;
  border: 0;
  border-top: 2px solid #110808;
}

.promoted-listings {
  padding: 2rem;
  background-color: #ffffff;
  
}

.promoted-listings h2 {
  text-align: center;
  font-size: 2rem;
  color: #2D2D2D;
  margin-bottom: 0.5rem;
}

.promoted-listings-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
}

.category-cards-section {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;
  padding: 4rem 2rem;
  background: #f8f9fa;
}

.cards-wrapper {
  display: flex;
  gap: 10px;
}

.category-card {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.category-header h2 {
  font-size: 1.8rem;
  color: #2D2D2D;
}

.view-all {
  color: #E4B15A;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
  font-size: 1rem;
}

.view-all:hover {
  color: #D8A04A;
}

.category-description {
  font-size: 1rem;
  color: #6c757d;
  margin-bottom: 1.5rem;
}

.category-card button {
  background: #E4B15A;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
}

.category-card button:hover {
  background: #D8A04A;
}

.how-it-works h2 {
  text-align: center;
  margin-bottom: 20px;
}

.view-all {
  color: #E4B15A;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}

.view-all:hover {
  color: #D8A04A;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.benefits-section {
  padding: 4rem 2rem;
  background: #FFFDFD;
}

.benefits-section h2 {
  text-align: center;
  margin-bottom: 10px;
}


.benefits-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.benefit-card {
  text-align: center;
  padding: 2rem;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.05);
  transition: transform 0.3s ease;
}

.benefit-card:hover, .step:hover {
  transform: translateY(-5px);
}

.benefit-card i {
  font-size: 2.5rem;
  color: #E4B15A;
  margin-bottom: 1rem;
}

.benefit-card h3 {
  color: #2D2D2D;
  margin-bottom: 0.5rem;
}

.how-it-works {
  padding: 4rem 2rem;
  text-align: center;
}

.steps-grid {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.step {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  max-width: 300px;
  transition: transform 0.3s ease;
}

.step i {
  font-size: 2.5rem;
  color: #E4B15A;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .hero-cta h1 {
    font-size: 2rem;
  }

  .datepicker-section {
    width: 90%;
    margin-top: -6rem;
  }

  .cards-wrapper {
    flex-wrap: wrap;
  }

  .search-button {
    width: 60%;
  }

  .section-header {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .hero {
    height: 500px;
  }

  .cards-wrapper {
    flex-wrap: wrap;
  }

  .hero-cta {
    padding: 1rem;
  }

  .hero-cta h1 {
    font-size: 1.75rem;
  }
}