@import "flatpickr/dist/flatpickr.min.css";

.datepicker-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.date-input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min-content;
  position: relative;
}

.date-input {
  border: 2px solid #1E1E1E;
  min-width: 200px;
  height: 40px;
  padding: 8px;
  padding-top: 12px;
  font-size: 15px;
  font-weight: 300;
}

.date-input:focus {
  outline: none;
}

#startDate {
  border-radius: 6px 0 0 0;
}

#endDate {
  border-radius: 0 6px 0 0;
}

.date-label {
  text-transform: uppercase;
  font-size: 10px;
  position: absolute;
  top: 2px;
  left: 12px;
  color: #1E1E1E;
  z-index: 1;
}

.search-button {
  padding: 6px;
  border-radius: 10px;
  border: none;
  width: 150px;
  height: 45px;
  font-size: 24px;
  font-weight: 700;
}

.input-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-icon-left {
  position: absolute;
  right: 15px;
}

.calendar-icon-right {
  position: absolute;
  right: 15px;
}

.calendar-icon-left:hover, .calendar-icon-right:hover {
  cursor: pointer;
}

/* Column layout */

.dotted-hr {
  height: 3px;
  width: 80%;
  border-top: 2px dashed #110808;
  margin: 5px 0 0 8px;
  align-self: flex-start;
}

.datepicker-wrapper-column {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date-input-wrapper-column {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min-content;
}

.date-input-column {
  border: none;
  min-width: 160px;
  height: 25px;
  padding: 8px;
  padding-top: 12px;
  font-size: 18px;
  font-weight: 400;
}

.date-input-column:focus {
  outline: none;
}

#startDate {
  border-radius: 6px 0 0 0;
}

#endDate {
  border-radius: 0 6px 0 0;
}

.date-label-column {
  text-transform: uppercase;
  font-size: 12px;
  position: relative;
  left: 8px;
  top: 5px;
}

.calendar-icon-left-column {
  position: absolute;
  top: 28px;
  right: 55px;
}

.calendar-icon-right-column {
  position: absolute;
  top: 28px;
  right: 55px;
}

.calendar-icon-left-column:hover, .calendar-icon-right-column:hover {
  cursor: pointer;
}


.datepicker-wrapper-wrap {
  display: flex;
  flex-wrap: wrap;   
  gap: 10px;         
  align-items: center;
  justify-content: center;
}

.date-input-wrapper-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px; 
  position: relative;
}

@media (max-width: 1200px) {
  .date-input {
    width: 40vw;
  }
}

@media (max-width: 768px) {

  .date-input {
    width: 40vw;
    font-size: 16px;
  }

  .date-label, .date-label-column {
    font-size: 10px;
  }

  .calendar-icon-left, .calendar-icon-right,
  .calendar-icon-left-column, .calendar-icon-right-column {
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  .search-button {
    width: 100%;
    max-width: 300px;
    height: 40px;
    font-size: 20px;
  }
}

@media (max-width: 480px) {

  .date-input {
    min-width: 25vw;
  }

  .datepicker-wrapper-column {
    width: 100%;
  }
  
  .date-input-wrapper,
  .date-input-wrapper-column {
    width: 100%;
  } 
  
  .dotted-hr {
    margin: 10px auto;
    width: 90%;
  }
  
  .calendar-icon-left,
  .calendar-icon-right,
  .calendar-icon-left-column,
  .calendar-icon-right-column {
    right: 15px;
    top: 50%;
  }
}