<div class="certificate-container">
  <div class="certificate-wrapper">
    <h2>Verify certificate code</h2>
    <label for="certificateCode">Enter certificate code</label>
    <input
      type="text"
      name="certificateCode"
      id="certificateCode"
      placeholder="Hu182Hnr13"
      [(ngModel)]="certificateCode"
      required
    />
    <button (click)="verifyCertificate()">Verify</button>
  </div>
  
  @if (hasVerified) {
    @if (isValid) {
      <div class="certificate-verified result">
        <h3>Certificate is <span class="green">valid</span>!</h3>
        <p>Certificate code: <b>{{ validCertificateCode }}</b></p>

        <img class="certificate-image" src="{{ downloadLink }}" alt="Image of the certificate" />
        
      </div>
    } @else {
      <div class="certificate-invalid result">
        <h3>Certificate is <span class="red">invalid</span>!</h3>
        <p>Please check the code and try again.</p>
      </div>
    }
  }

</div>