
.currency-select {
  padding: 10px;
  background-color: transparent;
  border: none;
  appearance: none;
  font-size: 16px;
}

.currency-option {
  font-size: 16px;
  font-weight: 300;
}

.currency-select:hover, .currency-option:hover {
  cursor: pointer;
}