.sort-dropdown-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.sort-by-heading {
  font-size: 18px;
}

.filter-select {
  background-color: transparent;
  border: 3px solid #0B0505;
  border-radius: 8px;
  font-size: 16px;
  padding: 3px;
  text-align: center;
}

.filter-option {
  font-size: 16px;
  font-weight: 300;
}

.filter-select:hover, .filter-option:hover {
  cursor: pointer;
}