<div class="sort-dropdown-wrapper">
  @if (mode === 'dashboard') {
    <h4 class="sort-by-heading">Sort by</h4>
  }
  <select class="filter-select" (change)="onSortChange($event)">
    @if (mode === 'catalog') {
      <option value="Most popular">Most Popular</option>
    }
    <option value="Price high">Price High</option>
    <option value="Price low">Price Low</option>
    <option value="Year new-old">Newest-oldest</option>
    <option value="Year old-new">Oldest-newest</option>
  </select>  
</div>