.hero {
  position: relative;
  height: 600px;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-image {
  width: fit-content;
  height: 600px;
  object-fit: cover;
  flex-shrink: 0;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  padding: 1rem;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.carousel-button.prev { left: 20px; }
.carousel-button.next { right: 20px; }

.datepicker-section {
  display: flex;
  gap: 8px;
  position: relative;
  /* background-color: #FFFDFD; */
  padding: 2rem;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.products-section {
  padding: 4rem 2rem;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.search-button {
  background-color: #E4B15A;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 8px;
  color: #FFFDFD;
  font-size: 18px;
  font-weight: 600;
}

.search-button:hover {
  background-color: #D8A04A;
  cursor: pointer;
}