<section class="hero">
  <app-image-carousel [images]="images"/>
</section>

<div class="datepicker-section">
  
  <app-datepicker layout="default" 
  [functionality]="['search', null]"
  (startDateChange)="onStartDateChange($event)" 
  (endDateChange)="onEndDateChange($event)"
  ></app-datepicker>

  <button (click)="onSearch()" class="search-button">Search</button>
</div>

<section class="products-section">
  <h2>Featured Machinery</h2>
  <div class="products-grid">

      @for (vehicle of vehicles; track $index) {
        <app-product-card [vehicle]="vehicle"/>
      }

  </div>
</section>