/* MAIN LAYOUT */

.hero-wrapper {
  position: relative;
  width: 100%;
  height: 90vh;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.hero-image {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-logo {
  width: 100%;
  height: 100%;
  max-height: 200px;
  object-fit: contain;
  position: relative;
}

.hero-wrapper::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.hero-data-wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* TEXT */

.header, .subheader {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  padding: 20px;
  font-family: Poppins;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.header {
  font-size: 2.4rem;
  font-weight: 700;
}

.subheader {
  font-size: 1.4rem;
}

/* CTA BUTTON */

.cta-button {
  position: relative;
  z-index: 2;
  background: linear-gradient(135deg, #ef233c, #d90429);
  border: none;
  border-radius: 25px;
  padding: 15px 30px;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  width: 80%;
}

.cta-button::before {
  content: '';
  position: absolute;
  bottom: -100%;
  left: -100%;
  width: 200%;
  height: 200%;
  background: rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
  transform: rotate(45deg);
}

.cta-button:hover::before {
  bottom: 100%;
  left: 100%;
}

.cta-button:hover {
  background: linear-gradient(135deg, #d90429, #ef233c);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.7);
  transform: translateY(-2px);
}

/* MEDIA QUERIES */

@media (min-width: 1024px) {
  .hero-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .hero-data-wrapper {
    grid-column: 1 / 2;
    align-items: center;
    text-align: left;
    padding-left: 50px;
  }

  .hero-image {
    grid-column: 2 / 3;
  }

  .hero-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

}

@media (max-width: 1024px) {
  .hero-wrapper {
    padding: 20px;
    align-items: flex-end;
  }

  .header {
    font-size: 2rem;
  }

  .subheader {
    font-size: 1.2rem;
  }

  .cta-button {
    width: 80%;
    padding: 10px 20px;
    font-size: 1rem;
  }

  .hero-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
}

@media (max-width: 768px) {
  .hero-wrapper {
    padding: 20px;
    align-items: flex-end;
    
  }

  .header {
    font-size: 2rem;
  }

  .subheader {
    font-size: 1.2rem;
  }

  .cta-button {
    width: 80%;
    padding: 10px 20px;
    font-size: 1rem;
  }

  .hero-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@media (max-width: 480px) {
  .header {
    font-size: 1.8rem;
  }

  .subheader {
    font-size: 1rem;
  }

  .cta-button {
    width: 90%;
    padding: 8px 16px;
    font-size: 0.9rem;
  }

  .hero-wrapper {
    align-items: flex-end;
    
  }

  .hero-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}