<div class="catalog-wrapper">

  <app-filter-sidebar
  [mainCategory]="mainCategory"
  [startDate]="startDate"
  [endDate]="endDate"
  />
  
  <div class="vehicle-section-wrapper">

    <div class="main-filters-wrapper">

      <div class="main-filters">

        <app-sort-dropdown (sortChanged)="onSortChange($event)"/>
  
        <div class="main-category-wrapper">
          <h3 (click)="onChangeMainCategory('vehicles')" [class]="mainCategory === 'vehicles' ? 'main-category-heading active' : 'main-category-heading' ">Vehicles</h3>
          <h3 (click)="onChangeMainCategory('machinery')" [class]="mainCategory === 'machinery' ? 'main-category-heading active' : 'main-category-heading' ">Machinery</h3>
        </div>

      </div>

      <h2 class="filter-heading">{{ sort }} {{ mainCategory }}</h2>
    </div>

    <div class="product-wrapper">  
      @for (vehicle of vehicles; track $index) {
        <app-product-card [vehicle]="vehicle" />
      }
    </div>

  </div>

</div>