<div class="catalog-wrapper">

  <app-filter-sidebar
  [mainCategory]="mainCategory"
  [startDate]="startDate"
  [endDate]="endDate"
  [queryCategory]="queryCategory"
  />
  
  <div class="vehicle-section-wrapper">

    <div class="main-filters-wrapper">

      <div class="main-filters">

        <app-sort-dropdown (sortChanged)="onSortChange($event)"/>
  
        <div class="main-category-wrapper">
          <h3 (click)="onChangeMainCategory('vehicles')" [class]="mainCategory === 'vehicles' ? 'main-category-heading active' : 'main-category-heading' ">Vehicles</h3>
          <h3 (click)="onChangeMainCategory('equipment')" [class]="mainCategory === 'equipment' ? 'main-category-heading active' : 'main-category-heading' ">Equipment</h3>
          <h3 (click)="onChangeMainCategory('machinery')" [class]="mainCategory === 'machinery' ? 'main-category-heading active' : 'main-category-heading' ">Machinery</h3>
          <h3 (click)="onChangeMainCategory('services')" [class]="mainCategory === 'services' ? 'main-category-heading active' : 'main-category-heading' ">Services</h3>
        </div>

      </div>

      <h2 class="filter-heading">{{ sort }} {{ mainCategory }}</h2>
    </div>

    @if (mainCategory === "vehicles") {
      <div class="product-wrapper">  
        @for (vehicle of vehicles; track $index) {
          <app-product-card [vehicle]="vehicle" />
        }
      </div>
    } @else {
      <div class="message-wrapper">
        <div class="graphic-wrapper">
          <svg class="astronaut" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
            <circle cx="100" cy="100" r="90" fill="#F5F5F5"/>
            <path d="M80 120 Q 100 80 120 120" stroke="#2c3e50" fill="none" stroke-width="2"/>
            <circle cx="85" cy="95" r="8" fill="#2c3e50"/>
            <circle cx="115" cy="95" r="8" fill="#2c3e50"/>
            <path d="M70 140 L130 140" stroke="#2c3e50" stroke-width="2"/>
          </svg>
        </div>
        <h2>No {{ mainCategory }} yet! Stay tuned!</h2>
      </div>
    }

  </div>

</div>