<div class="eula-container">
  <h1>End-User License Agreement ("Agreement")</h1>
  <p class="last-updated-date">Last updated: March 07, 2025</p>

  <section>
    <p>
      Please read this End-User License Agreement carefully before clicking the
      "I Agree" button, downloading or using Burg Commercial Rental Services SP.
    </p>
  </section>

  <section>
    <h2>Interpretation and Definitions</h2>

    <h3>Interpretation</h3>
    <p>
      The words of which the initial letter is capitalized have meanings defined
      under the following conditions. The following definitions shall have the
      same meaning regardless of whether they appear in singular or in plural.
    </p>

    <h3>Definitions</h3>
    <p>For the purposes of this End-User License Agreement:</p>
    <ul>
      <li>
        <strong>Agreement</strong> means this End-User License Agreement that
        forms the entire agreement between You and the Company regarding the use
        of the Application. This Agreement has been created with the help of the
        <a href="https://www.termsfeed.com/eula-generator/">EULA Generator</a>.
      </li>
      <li>
        <strong>Application</strong> means the software program provided by the
        Company downloaded by You to a Device, named Burg Commercial Rental Services SP
      </li>
      <li>
        <strong>Company</strong> (referred to as either "the Company", "We",
        "Us" or "Our" in this Agreement) refers to Burg Commercial Rental Services SP.
      </li>
      <li>
        <strong>Content</strong> refers to content such as text, images, or
        other information that can be posted, uploaded, linked to or otherwise
        made available by You, regardless of the form of that content.
      </li>
      <li><strong>Country</strong> refers to: Karnataka, India</li>
      <li>
        <strong>Device</strong> means any device that can access the Application
        such as a computer, a cellphone or a digital tablet.
      </li>
      <li>
        <strong>Third-Party Services</strong> means any services or content
        (including data, information, applications and other products services)
        provided by a third-party that may be displayed, included or made
        available by the Application.
      </li>
      <li>
        <strong>You</strong> means the individual accessing or using the
        Application or the company, or other legal entity on behalf of which
        such individual is accessing or using the Application, as applicable.
      </li>
    </ul>
  </section>

  <section>
    <h2>Acknowledgment</h2>
    <p>
      By clicking the "I Agree" button, downloading or using the Application,
      You are agreeing to be bound by the terms and conditions of this
      Agreement. If You do not agree to the terms of this Agreement, do not
      click on the "I Agree" button, do not download or do not use the
      Application.
    </p>
    <p>
      This Agreement is a legal document between You and the Company and it
      governs your use of the Application made available to You by the Company.
    </p>
    <p>
      The Application is licensed, not sold, to You by the Company for use
      strictly in accordance with the terms of this Agreement.
    </p>
  </section>

  <section>
    <h2>License</h2>
    <h3>Scope of License</h3>
    <p>
      The Company grants You a revocable, non-exclusive, non-transferable,
      limited license to download, install and use the Application strictly in
      accordance with the terms of this Agreement.
    </p>
    <p>
      The license that is granted to You by the Company is solely for your
      personal, non-commercial purposes strictly in accordance with the terms of
      this Agreement.
    </p>
  </section>

  <section>
    <h2>Contact Us</h2>
    <p>If you have any questions about this Agreement, You can contact Us:</p>
    <ul>
      <li>
        By email:
        <a href="mailto:hello@burgrental.com">hello&#64;burgrental.com</a>
      </li>
    </ul>
  </section>
</div>
