@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  background-color: #FFFDFD;
  border-bottom: 2px solid #A5A5A5;
  padding: 0 25px 0 25px;
  width: 100%;
}

.navbar-transparent {
  background-color: transparent !important;
  position: absolute;
  z-index: 1;
  color: white;

  .currency-picker {
    color: white;
  }
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.logo-link {
  font-family: "Space Grotesk";
}

.login-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.login-link:hover, .logo-link:hover {
  cursor: pointer;
}

.login-link h4 {
  font-weight: 400;
}

.login-link i {
  font-size: 12px;
  position: relative;
  top: 2px;
}

.hamburger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger-menu i {
  position: relative;
}

.hamburger-menu:hover {
  cursor: pointer;
}