<nav>
  <div class="nav-wrapper">
    <div class="nav-logo">
      <a class="nav-link logo-link" routerLink="/home">
        <img class="logo" src="/images/company-logo.png" alt="BURG Logo" />
      </a>
    </div>
    <div class="nav-menu">
      <ul [className]="isMenuOpen ? 'nav-list visible' : 'nav-list' ">
        <li>
          <a (click)="toggleMenu()" class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li>
          <a (click)="toggleMenu()" class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
        </li>
        <li>
          <a (click)="toggleMenu()" class="nav-link" routerLink="/menu" routerLinkActive="active">Menu</a>
        </li>
        <li>
          <a (click)="toggleMenu()" class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
        </li>
      </ul>

        <button routerLink="login" class="login-button">Login</button>
        
        
      </div>
    
        <div class="icon-wrapper">
          <div (click)="toggleMenu()" [className]="isAnimating ? 'hamburger-menu rotate' : 'hamburger-menu' ">
            <i class="fa-solid fa-bars"></i>
          </div>
          
          <i class="fa-solid fa-user user-icon"></i>
  
        </div>
      
  </div>
</nav>