<article class="product-card-wrapper">
  <div class="image-wrapper">
    <div class="icons-wrapper">

      <div class="circle-badge left">
        @if (vehicle?.available) {
          <i class="fa-solid fa-circle-check available-icon-check"></i>
        } @else {
          <i class="fa-solid fa-circle-xmark available-icon-x"></i>
        }
      </div>
      
      <div class="circle-badge right" (click)="onHeartIconClick()">
        @if (hasLiked) {
          <i class="fa-solid fa-heart heart-icon liked"></i>
        } @else {
          <i class="fa-solid fa-heart heart-icon unliked"></i>
        }
      </div>
    </div>

    <img
      [routerLink]="['/catalog/', vehicle?.details?.slug]"
      [src]="vehicle?.details?.images?.[currentIndex]"
      class="vehicle-image"
      alt="{{ vehicle?.details?.name }}"
      loading="lazy"
    />

    <div class="arrows-wrapper">
      <button (click)="prevSlide()" aria-label="Next image" class="arrow-button left">
        <i class="fa-solid fa-angle-left arrow"></i>
      </button>
      <button (click)="nextSlide()" aria-label="Previous image" class="arrow-button right">
        <i class="fa-solid fa-angle-right arrow"></i>
      </button>
    </div>

    <div class="dots-container">
      @for (image of vehicle?.details?.images; track $index) {
        <span
          class="dot"
          [class.active]="currentIndex === $index"
          (click)="goToSlide($index)"
        ></span>
      }
    </div>
  </div>

  <div class="details-wrapper">
    <div class="vehicle-details-upper">
      <h4 class="vehicle-name">{{ vehicle?.details?.name }}</h4>
      <h4 class="vehicle-price">
        {{ (vehicle?.details?.pricePerDay ?? 0) | currencyConverter }} day
      </h4>
    </div>

    <div class="rating">
      <!-- <i class="fa-solid fa-star star"></i> -->
      <!-- <h5>4.6</h5> -->
      <!-- <h5>{{ vehicle?.rating }}</h5> -->
      <i class="fa-solid fa-bookmark"></i>
      <h5>{{ vehicle?.likes?.length }}</h5>
    </div>

  </div>

  <hr class="dotted-hr" />

  <div class="vehicle-details-bottom">

  <div class="vehicle-characteristics">
      <h6 class="vehicle-characteristic">{{ (vehicle?.details?.category ?? '') | uppercase }}</h6>
      <h6 class="vehicle-characteristic">{{ vehicle?.details?.year }}</h6>
      <h6 class="vehicle-characteristic">{{ vehicle?.details?.capacity }}</h6>
  </div>

    <!-- <div class="distance">
      <h6 class="distance-km">15km away</h6>
      <h6 class="distance-country">{{ vehicle?.location?.city }}, {{ vehicle?.location?.country }}</h6>
    </div> -->

  </div>
</article>